<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <title>Add Rating</title>  
</head>

<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list active">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li class="list">
                <li>
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/parent/profil"><i class="ri-user-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>
                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">
            <!-- <div class="row mb-2 mt-2">
                <ol class="breadcrumb" style="background-color: white;">
                    <li class="breadcrumb-item">Profil</li>
                    <li class="breadcrumb-item active" aria-current="page">Ubah Profil</li>
                </ol>
            </div> -->


            <div class="row">
                <div class="col-lg-12">
                    <form method="POST" action="/parent/rating">
                        <div class="row">
                            <div class="col-sm-6">
                                <input id="teacher" name="teacher" type="hidden"  value="<%= teacher.id %>">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Nama Teacher</label>
                                    <input type="text" class="form-control" id="nama_teacher" name="nama_teacher" value="<%= teacher.nama %>" readonly>
                                    
                                </div>
                                <div class="form-group rating">
                                    <label>
                                        <input type="radio" name="rate" value="1" />
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rate" value="2" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rate" value="3" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rate" value="4" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="rate" value="5" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <small id="ratecheck" style="color: red;">
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Comment</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                                    <small id="comcheck" style="color: red;" >
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12 mt-3 d-flex flex-row-reverse">
                                <div class="form-group">
                                    <a href="/parent/dashboard" class="btn btn-danger mb-2">Cancel</a>
                                    <button type="submit" id="add-rating" class="btn mb-2" style="background-color: #40A8C4; color: white;">Add Rating</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="/js/add_rating.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>
