<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- remixicon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/explore_teacher.css">

    <title>Eksplorasi</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- sidebar sction -->
    <nav id="sidebar" class="active">
        <div class="p-4">
            <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
            <ul id="sidebar-list" class="components mb-5">
                <li class="list">
                    <a href="/parent/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Dashboard</span></a>
                </li>
                <li class="list active">
                    <a href="/parent/eksplorasi"><i class="ri-global-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Eksplorasi</span></a>
                </li class="list">
                <li>
                    <a href="/parent/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Kegiatan</span></a>
                </li>
                <li class="list">
                    <a href="/parent/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Profil</span></a>
                </li>

                <br><br><br><br><br><br><br><br>
                <li class="list">
                    <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
                        <span class="sidebar-text">Keluar</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main section -->
    <div id="dashboard_parent" class="main-content-with-sidebar p-4 p-md-5 pt-5">
        <div class="container">

            <!-- input group -->
            <div class="search-container input-group mb-4">
                <input id="searchMataPelajaran" type="text" class="form-search form-control"
                    placeholder="Mata Pelajaran" aria-label="Recipient's username" aria-describedby="button-addon2">
                <input id="searchLokasi" type="text" class="form-search form-control" placeholder="Kota/Kabupaten"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append search-btn-container">
                    <!-- <button onclick="searchMataPelajaran(); searchLokasi();" class="btn btn-primary" type="button" id="search-btn">Button</button> -->
                    <button class="btn btn-primary" type="button" id="search-btn">Cari</button>

                </div>
            </div>

            <h4 class="page-title mb-3 pl-2">Temukan tutor impianmu</h5>
            <div class="filter-container input-group mb-3" style="width: 680px">
                <div class="input-group-append filter-btn-container">
                    <button class="btn btn-primary" type="button" id="filter-btn"> <i class="ri-filter-line mx-2"></i>Filter</button>
                </div>
                <select id="filter-harga" class="form-filter form-control">
                    <option data-from="" data-to="">Rentang Harga</option>
                    <option data-from="0" data-to="49000">Rp 0 - Rp 49.000</option>
                    <option data-from="50000" data-to="99000">Rp 50.000 - Rp 99.000</option>
                    <option data-from="100000" data-to="150000">Rp 100.000 - Rp 150.000</option>
                    <option data-from="150000" data-to="maks"> > Rp 150.000</option>
                </select>
            </div>

            <!-- Teacher List (ditampilkan menggunakan DOM)-->
            <div class="row row-cols-1 row-cols-md-2" id="teachers-list">
                <!-- 
                <div class="col col-lg-4 col-md-6 col-sm-12 mb-1">
                    <a href="/parent/eksplorasi/<%#= teacher.id %> ">
                        <div class="card teacher-list">
                            <img src="<%#= teacher.avatar %> " class="card-img-top" alt="avatar.png">
                            <div class="card-body">
                                <h5 class="card-title mb-1"><%#= teacher.nama %></h5>
                                <p class="card-text mb-1"><%#= teacher.mata_pelajaran %></p>
                                <p class="card-title price mb-3"><%#= teacher.biaya %> /jam </p>
                                <h3>test</h3>
                                <p><%#= teacher.Rates  %> </p>

                                <p class="text-truncate card-text text-with-icon">
                                    <i class="ri-map-pin-range-line mr-3"></i><small
                                        class="text-muted"><%#= teacher.kecamatan %>,
                                        <%#= teacher.kelurahan %></small></p>
                            </div>
                        </div>
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script src="/js/explore_teacher.js"></script>

</body>


</html>