div.dashboard-parent {
    padding: 200px;
}

.col-lg-4 .teacher-list img {
    margin: 4% auto;
    width: 60%;
    height: 60%;
    max-height: none;
    min-width: none;
    border-radius: 50% !important;
}

a {
    text-decoration: none !important;
    color: #333333;
}

a:hover,
a:visited {
    color: #333333;
}