div.main-content-with-sidebar {
    padding: 0 10% 0 5%;
}

.teacher-list img {
    margin: 4%;
    width: 92%;
    height: 15em;
    border-radius: 10px;
    object-fit: cover;
}

.flex {
    display: flex;
}

.container.details {
    width: 230%;
    margin-left: 1%;
}

.container.info {
    margin-right: 5%;
}


h5 {
    color: #40A8C4;
    font-weight: 600 !important;
}

h3,
h4,
h6 {
    font-weight: 640;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.info li::before {
    content: "•";
    color: #666666;
    margin-right: 10px;
}

.vertical-center {
    margin: auto 0;
}
