.teacher-list img {
    margin: 4%;
    width: 92%;
    height: 15em;
    border-radius: 10px;
    object-fit: cover;
}

.price {
    font-weight: 600;
    color: #40A8C4;
    font-size: 18px;
}

a {
    text-decoration: none !important;
    color: #333333;
}

a:hover,
a:visited {
    color: #333333;
}

div.search-container {
    height: 48px;
    padding: 0 12px;
}

input.form-search {
    height: 48px;
}

.search-btn-container {
    width: 20%;
}

#search-btn {
    width: 100%;
    font-weight: 600;
    color: #FFFF;
    background: linear-gradient(180deg, #40A8C4 -18.85%, #07689F 115.57%);
    box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
    border-radius: 0 0.25rem 0.25rem 0;
}

div.filter-container {
    height: 48px;
    padding: 0 12px;
}

select.form-filter {
    height: 48px;
}

.filter-btn-container {
    width: 20%;
}

#filter-btn {
    width: 100%;
    font-weight: 600;
    color: #FFFF;
    background: linear-gradient(180deg, #40A8C4 -18.85%, #07689F 115.57%);
    box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
    border-radius: 0.25rem 0 0 0.25rem;
}

.checked {
    color: #ffd233;
    font-size: 20px;
  }
  .unchecked {
    color:#d8d8d8;
    font-size: 20px;
  }