.info-kegiatan {
    height: 100px;
    position: relative;
}

.vertical-center {
    margin-top: 5%;
}

.container-kegiatan-parent {
    padding: 1% 4%;
}

.kegiatan-card img {
    margin: 4% auto;
    min-height: 88%;
    width: 115%;
    border-radius: 50% !important;
}

.task-list img {
    width: 96%;
    margin: 10% auto 0 auto;
}

.dropdown {
    position: relative;
    overflow: visible;
    height: 100px;
}

.schedule {
    padding-top: 8px;
}

.schedule i {
    color: #07689F !important;
    font-size: 20px;
}

.dropdown-btn {
    background: none;
    border-style: none;
    color: #07689F;
    font-size: 32px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.dropdown-btn:hover {
    font-size: 34px;
    color: #0c90dd;
}