.dropdown {
    position: relative;
    overflow: visible;
    height: 100px;
  }

  .schedule {
    padding-top: 6px;
  }

  .schedule i {
    color: #07689F !important;
    font-size: 20px;
  }

  .dropdown-btn {
    background: none;
    border-style: none;
    color: #07689F;
    font-size: 32px;
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .dropdown-btn:hover {
    font-size: 34px;
    color: #0c90dd;
  }