@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #333333;
}

.p-4 {
  padding: 1.5rem 0 !important;
  padding-right: 1.5rem !important;
}


.mr-3 {
  margin-right: 0.8rem !important;
  font-size: 20px;
}

#sidebar {
  width: 270px;
  background: #07689F;
  color: #FFFFFF, 100%;
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
}

#sidebar .h6 {
  color: rgb(71, 57, 57)
}

#sidebar.active {
  margin-left: -270px;
  padding-left: 0;
}

#sidebar.active .custom-menu {
  margin-right: -50px
}

#sidebar h1 {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700
}

#sidebar h1 .logo {
  color: #FFFFFF;
}

#sidebar ul {

  list-style-type: none;
}

#sidebar ul.components {
  padding: 0
}

#sidebar ul li {
  font-size: 16px;

}

#sidebar ul li>ul {
  margin-left: 10px
}

#sidebar ul li>ul li {
  font-size: 14px
}

#sidebar ul li a {
  padding: 10px 0 10px 60px;
  display: block;
  color: rgba(255, 255, 255, .6);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;

}

#sidebar ul li a:focus,
#sidebar ul li a:hover {
  font-weight: 500;
  color: #FFFFFF !important;
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none
}

#sidebar ul li.active>a {
  font-weight: 720;
  background: 0 0;
  color: #333333;
  background-color: #FFC93C;
  list-style: none
}

#sidebar {
  margin-left: -270px
}

#sidebar.active {
  margin-left: 0
}

#sidebar .custom-menu {
  margin-right: -60px !important;
  top: 10px !important
}


#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

#sidebar .custom-menu {
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}


#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%
}


/* card style */
div.card {
  border-radius: 10px;
}

.col-lg-4 .teacher-list img {
  margin: 4%;
  width: 92%;
  min-height: 13.1em;
  max-height: 15em;
  border-radius: 10px;
  object-fit: cover;
}

.teacher-list .card-body {
  padding-top: 0;
}

h5.card-title,
p.card-title,
.card-text {
  margin: 2px;
}

h5.card-title {
  font-weight: 800;
}

.card-text {
  font-weight: 600;
}


/* main content */
div.main-content-with-sidebar {
  margin-left: 270px !important;
  padding: 5% 7% 2.5% 2.2% !important;
  background-color: #F9FEFF;
  min-height: 100vh !important;
}

div.main-content-with-sidebar div.row {
  margin: 0;
}

div.main-content-with-sidebar div.col {
  padding: 1.5%;
}


/* pagi title and map view */
.page-title {
  font-weight: 650;
}

.page-map {
  margin-left: 32px;
  display: block;
  padding-bottom: 16px;
}

.page-map-icon {
  margin: 20px 5px;
}

.page-map .current-page {
  color: #07689F;
  font-weight: bold;
}


/* default view */
.default-view {
  display: block;
  margin: 60px auto;
  width: 60%;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.default-view img {
  width: 70%;
}

.default-view p {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  color: #666666;
}

.btn-default-with-icon {
  width: 311px;
  padding: 12px 38px;
  margin: 0 auto;
  font-weight: 600;
  background: linear-gradient(180deg, #40A8C4 -18.85%, #07689F 115.57%);
  color: #FFFF;
  border-color: #07689F;
  box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
  border-radius: 10px;
  text-align: center;
  line-height: 65px;
}

.btn-default {
  width: 311px;
  padding: 0 30px;
  margin: 0 auto;
  font-weight: 600;
  background: linear-gradient(180deg, #40A8C4 -18.85%, #07689F 115.57%);
  color: #FFFF !important;
  border-color: #07689F;
  box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
  border-radius: 10px;
  text-align: center;
  line-height: 65px;
}

.btn-default:hover,
.btn-default-with-icon:hover {
  color: #FFFF !important;
  width: 320px;
  padding: 2px 30px;
  font-size: 1.34em;

}

/* buttons */
.btn-primary {
  min-width: 140px;
  padding: 8px 0;
  color: #FFFFFF;
  background: #07689F;
  border: 2px solid #07689F;
  box-shadow: 0px 4px 6px rgba(7, 104, 159, 0.1);
  border-radius: 5px;
}

.btn-primary:hover {
  background: #074d75;
  border: 2px solid #074d75;

}

.btn-outline-secondary {
  min-width: 140px;
  padding: 8px 0;
  background: #FFFFFF;
  border: 2px solid #07689F;
  color: #07689F;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  border: 2px solid #07689F;
  color: #07689F;
  background: #07679f3b;

}

.btn-outline-dark {
  min-width: 216px;
  padding: 4px 0;

  background: #d8d8d823;
  color: #999999;
  border: 2px solid #999999;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-outline-info {
  min-width: 216px;
  padding: 4px 0;
  background: #E2F2F1;
  border: 2px solid #40A8C4;
  color: #40A8C4 !important;
}

.btn-outline-info:hover {
  color: #FFFFFF !important;
  background: #40A8C4;
}


.btn-outline-dark:hover {
  color: #FFFFFF !important;
  background: #999999;
  border-color: #999999;
}


.btn-action {
  width: 100%;
  height: 61px;
  font-weight: 600;
  background:#04BE00;  
  border-color: #04BE00;
  color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
  border-radius: 10px;
}

.btn-action:hover {
  font-size: 1.08rem;
  width: 101%;
  height: 64px;
  background:#03aa00;  
  border-color: #03aa00;
  color: #FFFFFF;
}

button:disabled,
button[disabled] {
  background: linear-gradient(180deg, #D8D8D8 -18.85%, #D8D8D8 115.57%);
  color: #999999 !important;
  box-shadow: 0px 0px 12px rgba(7, 104, 159, 0.1);
  border-radius: 10px;
  border-color: #D8D8D8 !important;
}

/* icons */
.text-with-icon {
  display: flex;
  align-items: center;
}

.ri-map-pin-range-line {
  font-size: 20px;
  color: #999999;
  margin-right: 6px !important;
}

/* form */
.form-kegiatan label {
  font-weight: 700;
}