<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <!-- remixicon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/kegiatan_teacher.css">

  <title>GuruKu - Dashboard</title>

  <style>

  </style>
</head>

<body>
  <!-- sidebar -->
  <nav id="sidebar" class="active">
    <div class="p-4">
      <h1><a href="index.html" class="logo"><img src="/img/logo.png" alt=""></a></h1>
      <ul id="sidebar-list" class="components mb-5">
        <li class="list">
          <a href="/teacher/dashboard"><i class="ri-dashboard-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Dashboard</span></a>
        </li>
        <li class="list active">
          <a href="/teacher/kegiatan"><i class="ri-calendar-check-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Kegiatan</span></a>
        </li>
        <li class="list">
          <a href="/teacher/ulasan"><i class="ri-chat-quote-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Ulasan</span></a>
        </li class="list">
        <li class="list">
          <a href="/teacher/profil"><i class="ri-account-box-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Profil</span></a>
        </li>
        <br><br><br><br><br><br><br><br>
        <li class="list">
          <a href="/parent/logout"><i class="ri-logout-box-line mr-3 sidebar-link"></i>
            <span class="sidebar-text">Keluar</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- main section -->
  <div id="" class="main-content-with-sidebar p-4 p-md-5 pt-5">
    <div class="container">
      <h3 class="mb-5 col-12 page-title">Daftar Kegiatan</h3>

      <div class="row">
        <% if (!tasks[0]) { %>
        <div class="default-view mx-auto">
          <img class="mb-4" src="/img/kegiatan-bg.png" alt="">

          <p class="mb-5">Belum ada daftar kegiatan belajar yang dibuat</p>
          <a href="/teacher/form_kegiatan" type="button" class="btn btn-default btn-lg text-with-icon"><i
              class="ri-add-circle-line" style="font-size: 26px; margin: 0 8px;"></i> Tambah kegiatan</a>
        </div>
        <% } %>

        <!-- task-list -->
        <div class="col-9 task-list">
          <% for( const task of tasks) { %>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row align-middle">
                <div class="col-7">
                  <h5 class="card-title mb-3"><%= task.dataValues.mata_pelajaran%> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= task.dataValues.Parent.dataValues.nama %></h6>
                </div>
                <div class="col-4 schedule">
                  <h6 class="card-subtitle mb-3 text-muted text-with-icon"><i class="ri-calendar-2-line mr-3"></i>
                    <%= task.dataValues.hari%></h6>
                  <h6 class="card-subtitle mb-2 text-muted text-with-icon"><i
                      class="ri-time-line mr-3"></i><%= task.dataValues.waktu%> WIB</h6>
                </div>
                <div class="col-1 ">
                  <div class="dropdown">
                    <button class="dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="ri-menu-5-fill"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/teacher/form_kegiatan/<%= task.id %>">Edit</a>
                      <button class="dropdown-item" onclick="deleteTask('<%= task.id %>')">Delete</button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h5 class="card-title mb-3">Laporan Kegiatan Belajar</h5>
                  <a href="<%= task.dataValues.report_link%>" target="_blank" class="card-subtitle mb-2">Buka Laporan</a>
                </div>
              </div>
            </div>
          </div>
          <% } %>

        </div>

        <% if (tasks[0]) { %>
        <div class="col-3">
          <a href="/teacher/form_kegiatan" type="button" class="btn btn-default  btn-lg text-with-icon"><i
              class="ri-add-circle-line" style="font-size: 26px; margin: 0 8px;"></i> Tambah kegiatan</a>
        </div>
        <% } %>

      </div>
    </div>




    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="services">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h5 class="d-flex justify-content-center">Maaf</h5>
            <br><br><br>
            <h7 class="d-flex justify-content-center m-3">Anda Belum Memiliki Murid</h7>
            <a class="btn border border-primary d-flex justify-content-center" href="/teacher/dashboard">
              Kembali Ke Dashboard</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <script>
      function edit(id) {
        $.ajax({
          url: `/teacher/form_kegiatan/${id}`,
          type: 'GET',
          success: res => {}
        })
      }

      function deleteTask(id) {
        $.ajax({
          url: `/teacher/kegiatan/${id}`,
          type: 'GET',
          success: res => {
            location.reload();
            return false;
          }
        })
      }
    </script>

</body>

</html>